In [1]:
#Importacion de librerias#
import pandas as pd
import numpy as np

In [2]:
#Lectura de los 2 archivos csv#
dfw= pd.read_csv ('w_data.csv', sep=';')
dfp= pd.read_csv ('p_data.csv', sep=';')

In [18]:
#Visualizacion de archivos#
dfw

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target
0,State-gov,77516.0,2174.0,0.0,40.0,49084,<=50K
1,Self-emp-not-inc,83311.0,0.0,0.0,13.0,68553,<=50K
2,Private,215646.0,0.0,0.0,40.0,143654,<=50K
3,Private,234721.0,0.0,0.0,40.0,41510,<=50K
4,Private,338409.0,0.0,0.0,40.0,195025,<=50K
...,...,...,...,...,...,...,...
48838,Private,215419.0,0.0,0.0,36.0,735617153,<=50K.
48839,?,321403.0,0.0,0.0,40.0,1131807446,<=50K.
48840,Private,374983.0,0.0,0.0,50.0,781422087,<=50K.
48841,Private,83891.0,5455.0,0.0,40.0,161771296,<=50K.
48842,Self-emp-inc,182148.0,0.0,0.0,60.0,1344995623,>50K.

In [19]:
#Visualizacion de archivos#
dfp

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife
...,...,...,...,...,...,...,...,...,...
48837,33.0,Male,597186815,White,United-States,Bachelors,13.0,Never-married,Own-child
48838,39.0,Female,735617153,White,United-States,Bachelors,13.0,Divorced,Not-in-family
48839,64.0,Male,1131807446,Black,United-States,HS-grad,9.0,Widowed,Other-relative
48840,38.0,Male,781422087,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
48841,44.0,Male,161771296,Asian-Pac-Islander,United-States,Bachelors,13.0,Divorced,Own-child

In [5]:
#Fusion de DataFrame y visualizacion#
Fusionado= pd.merge(dfw, dfp, on='ID', indicator= 'true')
Fusionado

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target,Age,Sex,Race,Country,Education,Education-Num,Marital Status,Relationship,true
0,State-gov,77516.0,2174.0,0.0,40.0,49084,<=50K,39.0,Male,White,United-States,Bachelors,13.0,Never-married,Not-in-family,both
1,Self-emp-not-inc,83311.0,0.0,0.0,13.0,68553,<=50K,50.0,Male,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband,both
2,Private,215646.0,0.0,0.0,40.0,143654,<=50K,38.0,Male,White,United-States,HS-grad,9.0,Divorced,Not-in-family,both
3,Private,234721.0,0.0,0.0,40.0,41510,<=50K,53.0,Male,Black,United-States,11th,7.0,Married-civ-spouse,Husband,both
4,Private,338409.0,0.0,0.0,40.0,195025,<=50K,28.0,Female,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,Private,245211.0,0.0,0.0,40.0,597186815,<=50K.,33.0,Male,White,United-States,Bachelors,13.0,Never-married,Own-child,both
48838,Private,215419.0,0.0,0.0,36.0,735617153,<=50K.,39.0,Female,White,United-States,Bachelors,13.0,Divorced,Not-in-family,both
48839,?,321403.0,0.0,0.0,40.0,1131807446,<=50K.,64.0,Male,Black,United-States,HS-grad,9.0,Widowed,Other-relative,both
48840,Private,374983.0,0.0,0.0,50.0,781422087,<=50K.,38.0,Male,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband,both
48841,Private,83891.0,5455.0,0.0,40.0,161771296,<=50K.,44.0,Male,Asian-Pac-Islander,United-States,Bachelors,13.0,Divorced,Own-child,both

In [59]:
#Reemplazar datos Target y chequear#
valores_remplazar = {' <=50K':'<=50K', ' <=50K.': '<=50K', ' >50K': '>50K', ' >50K.': '>50K'}

Fusionado.replace({'Target':valores_remplazar}, inplace = True)
Fusionado['Target'].unique()

array(['<=50K', '>50K', nan], dtype=object)

In [112]:
#Porcentaje segun Target y Sexo#
Mas50= Fusionado['Target']=='>50K'
Mas50K= Fusionado[Mas50]
PropS= Mas50K.groupby(['Target','Sex']).count()
PropS['Percent'] = (PropS['ID'] / 
                      PropS['ID'].sum()) * 100
PropS.Percent

Target  Sex
>50K     Female    15.137772
         Male      84.862228
Name: Percent, dtype: float64

In [113]:
#Porcentaje segun Target y Raza#
PropR= Mas50K.groupby(['Target','Race']).count()
PropR['Percent'] = (PropR['ID'] / 
                      PropR['ID'].sum()) * 100
PropR.Percent

Target  Race
>50K     Amer-Indian-Eskimo     0.470649
         Asian-Pac-Islander     3.499914
         Black                  4.843402
         Other                  0.427862
         White                 90.758172
Name: Percent, dtype: float64

In [115]:
#Porcentaje segun Target y Educacion#
PropE= Mas50K.groupby(['Target','Education']).count()
PropE['Percent'] = (PropE['ID'] / 
                      PropE['ID'].sum()) * 100
PropE.Percent

Target  Education
>50K     10th             0.744481
         11th             0.787267
         12th             0.410748
         1st-4th          0.068458
         5th-6th          0.231046
         7th-8th          0.530549
         9th              0.350847
         Assoc-acdm       3.534143
         Assoc-voc        4.466883
         Bachelors       28.341605
         Doctorate        3.688174
         HS-grad         21.418792
         Masters         12.485025
         Preschool        0.008557
         Prof-school      5.279822
         Some-college    17.653603
Name: Percent, dtype: float64