In [2]:
import numpy as np
import pandas as pd

In [ ]:
# Consigna 1 Indice igual a año

In [5]:
JJOO= pd.read_csv('C:\\Users\\Usuario\Documents\Coder\Data Science\JJOO.csv',encoding='latin-1')
indice= list(JJOO.Year)
indice
columnas= JJOO.columns[1:]
columnas
valores= JJOO.values[:,1:]
JJOOdf= pd.DataFrame(valores, index=indice,columns=columnas)
JJOOdf

,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
1976.0,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1976.0,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
1976.0,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
1976.0,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
1976.0,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...
2008.0,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
2008.0,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
2008.0,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
2008.0,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
2008.0,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [23]:
# Consigna 2 Nombre y Apellido en 2 columnas

In [6]:
Atleta= pd.Series(JJOOdf['Athlete'])
Atleta_sep=Atleta.str.split(',',n=1,expand=True)
Atleta_sep.columns=['Apellido','Nombre']
Atleta_sep
JJOOcompleto= pd.concat([JJOOdf,Atleta_sep],axis=1)
JJOOcompleto

,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,Apellido,Nombre
1976.0,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver,KÖHLER,Christa
1976.0,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze,KOSENKOV,Aleksandr
1976.0,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold,BOGGS,Philip George
1976.0,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver,CAGNOTTO,Giorgio Franco
1976.0,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze,WILSON,Deborah Keplar
...,...,...,...,...,...,...,...,...,...,...,...,...
2008.0,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze,GUENOT,Christophe
2008.0,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold,KVIRKELIA,Manuchar
2008.0,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver,RAHIMOV,Vitaliy
2008.0,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold,GUENOT,Steeve
2008.0,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold,LOPEZ,Mijain

In [102]:
# Consigna 3 Resumen

In [7]:
JJOOcompleto.describe()

,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,Apellido,Nombre
count,15316.0,15316,15316,15316,15316,15316,15316,15316,15316,15316,15316,15223
unique,9.0,28,41,293,11337,2,128,127,3,3,8930,5587
top,2008.0,Aquatics,Athletics,hockey,"PHELPS, Michael",Men,USA,United States,M,Bronze,KIM,Vladimir
freq,2042.0,2210,1523,817,16,9388,1992,1992,8817,5258,103,113

In [ ]:
# Consinga 3 Pais con mas medallas

In [8]:
Country=JJOOcompleto['Country']
Country.mode()

0    United States
Name: Country, dtype: object

In [119]:
# Consigna 4 Medallas por año de los hombres

In [41]:
JJOOcompleto
Masculinos=JJOOcompleto[JJOOcompleto['Event_gender']=='M']
Medals= Masculinos.groupby(['Year']).count() 
Medals[['Medal']]

        Medal
Year
1976.0    843
1980.0    854
1984.0    911
1988.0    950
1992.0   1041
1996.0   1029
2000.0   1065
2004.0   1052
2008.0   1072